* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

h1 {
    font-size: 20px;
    line-height: 30px;
}

h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #2dc4b2;
}

a:hover {
    color: #101010;
}

.mapAndBar {
    position: absolute;
    display: flex;
    width: 90%;
    height: 80%;
}

.sidebar {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.map {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: block;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.listings .item:last-child { 
    border-bottom: none; 
}

.listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 500;
}

.listings .item .title small { 
    font-weight: 400; 
}

.listings .item.active .title,
.listings .item .title:hover { 
    color: #8cc63f; 
}

.listings .item.active,
.listings .item:hover {
    background-color: rgb(216, 216, 216);
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}

.clearfix { 
    display: block; 
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mapboxgl-popup-close-button {
    display: true;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}

.marker {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 32px;
    background-image: url(marker.png);
    background-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup {
    padding-bottom: 50px;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-size: 12px;
    max-height: null;
    margin-top: 3px;
}

.sortConsole {
    position: absolute;
    width: 280px;
    margin: 240px;
    padding: 10px 20px;
    background-color: white;
    left: 750px;
    top: 10px;
}

.session {
    margin-bottom: 20px;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
}

.label {
    width: 15%;
    display: inline-block;
    text-align: center;
}